<section class="accueil">
  <article class="accueil__article">
    <h1 class="accueil__title">Bienvenue !</h1>
    <p class="accueil__description">
      Prenez votre temps, aidez-vous du contenu des vidéos 3D et des panneaux
      pour vos réponses.
    </p>
    <p class="accueil__conclusion">Bonne visite !</p>
  </article>
  <button class="accueil__button" onclick="{{handler}}">
    Commencer
    <img
      src="./frontend/assets/arrow_right.svg"
      alt="Flèche de continuation"
      class="accueil__buttonimg"
    />
  </button>
</section>
