<div class="text__responsecont">
  <input
    id="reponse"
    type="text"
    class="text__reponse"
    placeholder="Votre réponse..."
  />
  <div class="text__selector">
    <svg
      class="text__icon"
      viewBox="0 0 24 24"
      width="24"
      height="24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        class="text__circle"
        cx="12"
        cy="12"
        r="10"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      />
    </svg>
  </div>
</div>
