<section class="text">
  <div class="text__info">
    <h2 class="text__title">QUESTION</h2>
    <p class="text__progress" id="progress-indicator">{{ordre}}/{{total}}</p>
  </div>

  <div class="text__card">
    <div class="text__cont">
      <div class="text__question">
        <p id="question-number" class="text__number">{{ordre}}.</p>
        <p id="question-title" class="text__intitule">{{question}}</p>
      </div>
      <p id="question-hint" class="text__hint">({{indice}})</p>
    </div>

    <div id="text-options-container" class="text__options">{{reponses}}</div>

    <h2 class="text__result">{{resultat}}</h2>
  </div>

  <form action="./text-template.html" class="text__form">
    <button class="text__button" onclick="{{handler}}">
      {{action}}
      <img
        src="./frontend/assets/arrow_right.svg"
        alt="Flèche de continuation"
        class="text__buttonimg"
      />
    </button>
  </form>
</section>
