<section class="qcm">
  <div class="qcm__info">
    <h2 class="qcm__title">QUESTION</h2>
    <p class="qcm__progress" id="progress-indicator">{{ordre}}/{{total}}</p>
  </div>

  <div class="qcm__card">
    <div class="qcm__cont">
      <div class="qcm__question">
        <p id="question-number" class="qcm__number">{{ordre}}.</p>
        <p id="question-title" class="qcm__intitule">{{question}}</p>
      </div>
      <p id="question-hint" class="qcm__hint">({{indice}})</p>
    </div>

    <div id="qcm-options-container" class="qcm__options">
      <div class="qcm__responsecont">
        <p class="qcm__reponse">{{reponse}}</p>
        <div class="qcm__selector">
          <svg class="qcm__icon" viewBox="0 0 24 24" width="24" height="24">
            <circle
              class="qcm__circle"
              cx="12"
              cy="12"
              r="10"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
            />
          </svg>
        </div>
      </div>

      <div class="qcm__responsecont">
        <p class="qcm__reponse">{{reponse}}</p>
        <div class="qcm__selector">
          <svg class="qcm__icon" viewBox="0 0 24 24" width="24" height="24">
            <circle
              class="qcm__circle"
              cx="12"
              cy="12"
              r="10"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
            />
          </svg>
        </div>
      </div>

      <div class="qcm__responsecont">
        <p class="qcm__reponse">{{reponse}}</p>
        <div class="qcm__selector">
          <svg class="qcm__icon" viewBox="0 0 24 24" width="24" height="24">
            <circle
              class="qcm__circle"
              cx="12"
              cy="12"
              r="10"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
            />
          </svg>
        </div>
      </div>
    </div>

    <h2 class="qcm__result">{{resultat}}</h2>
  </div>

  <form action="./text-template.html" class="qcm__form">
    <button class="qcm__button" onclick="{{handler}}">
      {{action}}
      <img
        src="./frontend/assets/arrow_right.svg"
        alt="Flèche de continuation"
        class="qcm__buttonimg"
      />
    </button>
  </form>
</section>
