.qcm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-inline: 1rem;
  padding-top: 3rem;
  color: var(--color-dark-blue);
  gap: 27px;
}

.qcm__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.qcm__title {
  margin: 0;
  font-size: 2.5rem;
}

.qcm__progress {
  margin: 0;
  color: var(--color-brown);
  font-size: 1.5rem;
}

.qcm__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 18px;
  border: solid 1px var(--color-brown);
  border-radius: 15px;
}

.qcm__cont {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.qcm__question {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
  font-size: 1.15rem;
  gap: 5px;
}

.qcm__number {
  width: fit-content;
  margin: 0;
  font-weight: 600;
}

.qcm__intitule {
  flex: 1;
  min-width: 0;
  height: auto;
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.qcm__hint {
  width: 100%;
  height: auto;
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: 0.85rem;
}

.qcm__options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 1rem;
  gap: 20px;
}

.qcm__responsecont {
}

.qcm__response {
}

.qcm__selector {
}

.qcm__result {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.qcm__form {
}

.qcm__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 1.5rem 6rem;
  gap: 1rem;
  color: var(--color-light);
  font-family: var(--font-cabin);
  font-size: 1.15rem;
  background-color: var(--color-dark-blue);
  border-radius: 15px;
  border: none;
}

.qcm__buttonimg {
  width: auto;
  height: 1rem;
}
